.heading{
  color:#00008B;
    font-family: monospace, sans-serif;
  float:right;
  margin:15px;
  padding:40px;
  font-size:1.5em;
 }
.heading-image{
  float:left;
  margin-top:0;
  
  }
.topbar{

  background-color:#4169E1;
  width:100%;
  height:120px
}

body{
  background-color:#6495ED;
  height: 100%;
  margin: 20px;
 
}
.message{
  text-align:center;
  color:#fff;
  line-height:1em;
  padding-top:20px;
  font-size:1.2em;
  font-family:monospace;
  padding-bottom:40px;
  
}
#heading1{
  font-size:2.37em;
  text-align:center;
  color:#fff;

  }


.nav ul{
  background-color: #fff;
  width: 200px;
  padding: 2px;
  margin: 0 auto;
  overflow: auto;
   }

.nav li{
  float:left;
  list-style:none;
  font-weight:bold;
  border: solid ;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  width: 200px;
  text-align: center;
 background-color: #4169E1;
  
 
}
.nav a.active{
  color: #fff;
  cursor: active;
  }
.nav a{
  display: block;
  transition: .3s background-color: #005f5f; 
  text-decoration: none;

}
li a:hover {
    background-color: #005f5f;
}


.socialnetwork{
  float: right;
  margin: auto;
    width: 60%;
   padding: 10px;
  
}
.footlist li{
  float: left;
  list-style: none;
  
}
.marquee{
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: none;
  color:#fff;
}
 html {
    height: 100%;
    margin: 0;
}

.background {
    
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2{
  color: black;
}
